@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
    --white-color: #fff;
    --blue-color: #4070f4;
    --red-color: #ff0000;
    --blue-light-color: #1089ff ;
  }

.fs-0{
  font-size:14px;
}

.fs-18{
  font-size:18px;
}

.p-24{
  padding:24px;
}

.fw-600{
  font-weight:600;
}
.border-color{
  border-color:#0D2436;
}
.color-active{
  color:var(--blue-color);
}
.color-active-2{
  color: #1565D8;
}
.color-disabled{
  color:#0D2436;
}
.color-disabled-2{
 color:#959ead;
}
.color-disabled-3{
  color: #5a7184;
}
.bg-active{
  background:var(--blue-color) !important;
}
.bg-light-active{
  background:var(--blue-light-color) !important;
}
.bg-disabled{
  background-color:#0D2436;
}
.border-none{
  border:none !important;
}
.outline-none{
  outline:none !important;
}
.border-radius-none{
  border-radius:0 !important;
}
.hover-pointer:hover{
  cursor:pointer;
}
.hover-color-disabled:hover a{
  color:#0D2436;
}
.hover-color-active:hover .title{
  color:var(--blue-color);
}
.hover-color-white:hover a{
  color:#fff;
}
.hover-bg-disabled:hover{
  background:#F3F4F4;
}
.hover-bg-active:hover{
  background:var(--blue-color);
}

.letter-spacing-2{
  letter-spacing: 2px;
}

.w-65{
  width:65%;
}
.w-35{
  width:35%;
}
.w-20{
  width:20%;
}
.w-80{
  width:80%;
}
.wm-80{
  max-width:80px;
}
.py-9{
  padding: 9px 0;
}
.py-10{
  padding: 10px 0;
}
.wp-130{
  width:130px !important;
}
.hp-45{
  height:45px !important;
}
.mw-120{
  min-width:120px !important;
}
.w-40{
  width:40px !important;
}
.dropdown-toggle{
  color:#0D2436 !important;
}
.word-break-none{
  word-break:none !important;
}

.mw-450{
  max-width:450px !important;
}

.vh-70{
  height:70vh !important;
}
.box-shadow-border{
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.hover-opacity:hover{
  opacity: 1 ;
}
.opacity-90{
  opacity:0.9;
}

/* ============================================ START OF HEADER ========================================= */
  
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show .btn-secondary.dropdown-toggle:focus,
.btn-secondary.focus,
.btn-secondary:focus {
  box-shadow: none !important;
}

/* ============================================ END OF HEADER =========================================== */


/* ============================================ START OF FORM =========================================== */

.form__control.error .error{
    font-style:italic;
    color:var(--red-color);
    font-size:14px;
}
.form__control.success .error{
   display:none;
}

/* ============================================ END OF FORM =========================================== */




/* ============================================ START OF MEDIA QUERIES =========================================== */

@media (max-width: 1200px) {

  /*================= START OF FOOTER =============== */
  footer li a{
    font-size:12px;
  }
  footer h2,form{
    font-size:14px !important;
  }
  .copyright p{
    font-size:14px !important;
  }
  .copyright .social{
    font-size:20px !important;
  }
  /*================= END OF FOOTER =============== */
}
@media (max-width: 768px) {
  /*================= START OF HEADER =============== */
   header .header-sign-in, header .header-nav{
    display:none !important;
   }
 
   .header-nav.active{
     display: block !important;
     position:absolute;
     right:0;
     flex-direction:column;
     top:90%;
     z-index:999;
     background-color:#fff;
     box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
     border-radius:5px; 
   }
   .header-nav.active i,.header-nav.active .sign-out{
     display: block !important;
   }
   .header-nav.active .header-nav-item{
     padding:12px 16px !important;
   }
   .header-nav.active a{
     padding: 0 !important;
     min-width:120px;
   }
  
   header .header-avatar,header .header-bars{
     display:flex !important;
     align-items:center;
     font-size:20px;
   }
   header .header-bars{
     font-size:24px !important;
   }
 
   .header-lang button a{
     display: none !important;
   }
   .header-lang img{
     width:32px !important;
   }
   .dropdown-menu.show{
     transform:translate3d(-85px, 48px, 0px) !important;
   }
   /*================= END OF HEADER =============== */
}

@media (max-width: 576px) {
  .header-nav.active {
    width: 100%;
  }
  
  footer,main,header{
    padding:0 8px !important;
  }

  /*================= START OF FOOTER COPYRIGHT =============== */
  .copyright{
    flex-direction:column;
  }
  .copyright .social ul{
    justify-content:flex-start !important;
    gap:8px !important;
  }
   /*================= END OF FOOTER COPYRIGHT =============== */
}


@media only screen and (max-width: 375px){

  .header-nav.active{
    width:100%;
  }

  .form{
     margin-top:50px;
  }
  .form__title{
     font-size:26px;
  }
  .form__label{
     font-size:14px;
  }
  .footer__container{
     grid-template-columns:1fr;
 }
}

/* ============================================ END OF MEDIA QUERIES =========================================== */